doctype html
html
 head
 meta(charset='utf-8')
 body
 <h1>세미나5 연습할려구 대충 만든 페이지</h1>
 <h2>뇌지컬스터디 화이팅ㅎㅎ</h2>
 form(action='upload' method='post' enctype="multipart/form-data")
 input(type='file' name='imagefile')
 input(type='submit')